<div class="main">
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vitae commodi nobis adipisci quod exercitationem impedit ea ipsum eveniet eos, nihil, quas, tempore quia rerum incidunt sed harum laborum voluptate!</p>
    <img src="https://lh3.googleusercontent.com/proxy/L5tCQsADLfbB2Ca7bhm_768qEvIDsX2ZLAWUurMIQlilQHS3Ycc6bmL4ivIDdFokvrP3WJGfJ09QuUL4e1RT-BrrAvL1yy-vez-YMGewS940" alt="img">
    <app-buttons [color]="'green'" [disabled]="false" [outline]="false" [content]="'Bouton à cliquer'"></app-buttons>
</div>